# Activer le module de réécriture
RewriteEngine On


# Bloquer l'accès aux fichiers sensibles (ajout de plus de fichiers sensibles)
<Files ~ "^\.(env|git|htaccess|config|log|sql|ini|lock|db)$|^(composer\.json|package\.json|package-lock\.json|ecosystem\.config\.js|index\.js)$">
    Order allow,deny
    Deny from all
</Files>

# Bloquer l'accès aux fichiers JavaScript dans les dossiers racine, config et services
<FilesMatch "^(index\.js|ecosystem\.config\.js)$|^config/.*\.js$|^services/.*\.js$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Désactiver l'affichage du contenu des répertoires
Options -Indexes

# Limiter les méthodes HTTP (GET, POST seulement)
<LimitExcept GET POST>
    Deny from all
</LimitExcept>

# Protéger contre les attaques XSS et certaines injections
<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
</IfModule>


# Ne pas appliquer de règles aux fichiers existants
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rediriger les autres requêtes vers Node.js
RewriteRule ^(.*)$ http://127.0.0.1:3000/$1 [P,L]